RewriteEngine On

RewriteRule ^sus$ sus.html [NC]
RewriteRule ^／$ sus.html [NC]
RewriteRule ^／᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼᲼sus$ sus.html [NC]
RewriteRule ^🆘$ sus.html [NC]

AddType application/x-httpd-php .html .htm
